.outer {
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: repeat(3, 1fr);
    grap: 10px;

}

.inner {
    background-color: steelblue;
    padding: 20px;
    text-align: center;
    color: white;
    margin: 20px;
}

.a {
    grid-column: 3/4;
    grid-row: 2/3;
}

.b {
    grid-column: 1/3;
    grid-row: 1/2;
}